@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Variables */

:root {
    --primary-bg: #3B8FE1;
    --primary-fg: white;

    --secondary-bg: #ffffff;
    --secondary-fg: #10487F;

    --color-page-background: #3B8FE1;
    --color-secondary: #f4f4f4;

    --color-primary: #3B8FE1;
    --color-secondary: #FFFFFF;
    --color-dark-blue: #10487F;
    --color-accent: #F46A1B;
   
    --header-button-size: 32px;
    --brand-img-width: 53px;
    --brand-img-height: 35px;

    --font-primary: "Nunito Sans", sans-serif;

    --font-size-h2: 4.4rem; 
    --font-size-h3: 2.4rem;
    --font-size-p: 1.6rem;  

}

/* Container */

html {
    font-size: 62.5%;
}

body {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-m);  
}

h2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 4.4rem;
    font-weight: 800; 
    line-height: 0.9;
    letter-spacing: 0;
    color: var(--color-dark-blue)
}

h3 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 2.4rem; 
    font-weight: 800;
    line-height: 1.05; 
    letter-spacing: 0;
    color: var(--color-dark-blue)
}

 p {
     font-weight: 500; 
    font-size: 1.6rem;
    line-height: 1.1;
    letter-spacing: 0;
    
 }
    a {
        text-decoration-thickness: .5px;
        text-underline-offset: 2px;
      }


/* Utility classes */

.flex-bottom {
    display: flex;
    align-items: flex-end;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-bottom {
    align-self: flex-end;
}

.w800 {
    font-weight: 800;
}

.xl {
    font-size: 7.2rem;
    line-height: 1.2;
}

.mb32 {
    margin-bottom: 3.2rem;
}

/* REMOVE THIS */



/* Back */

.back-primary {
    background: var(--primary-bg);
    color: var(--primary-fg);
}

.back-secondary {
    background: var(--secondary-bg);
    color: var(--secondary-fg);
}

/* Header */

.header {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 13px 40px;
    display: flex;
    align-items: center;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--brand-img-width));
    height: calc(var(--brand-img-height));
}

nav {
    display: flex;
}

nav.left {
    flex-grow: 1;
    font-weight: 700;
}

nav.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav.right {
    margin-left: auto; 
    display: flex;
    gap: 16px; 
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; 
    height: auto;
}


.button-link {
    font-family: "Nunito", sans-serif;
    font-weight: 700; 
    font-size: 1.6rem; 
    text-decoration: none;
    color: white;
    height: var(--header-button-size);
    line-height: var(--header-button-size);
    padding: 0 16px;
}

/* Hero */

.hero1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    padding: 2.5rem 4rem;
    gap: 1rem;
    max-width: 1000px; 
    margin: 0 auto;
    width: 100%; 
    align-items: flex-start;
}


.hero-content {
    flex-grow: 1;
    align-self: flex-start; 
    margin-top: 2rem;
    
}


.hero-image {
    flex-shrink: 0;
    margin-left: -2.4rem;
    align-self: center;
}

.hero-image img {
    width: 48.6rem; 
    height: 36.9rem;
    
}


.hero-content h1 {
    font-size: 11.0rem;
    line-height: 8rem;
    margin-bottom: 2rem;
    font-weight: 800;
    margin-left: -0.6rem;
}

.hero-content p {
    margin-top: 0.4rem;
}

.fly-image {
    display: block;
    margin-left: auto; 
    margin-right: 6rem; 
    margin-bottom: -1rem;
    margin-top: 0.3rem;
}

.clip {
    height: 150px;
    z-index: -1;
    position: relative;
    margin-bottom:-px;
    background-color: var(--primary-bg);
    -webkit-mask-image: url(clip.svg);
    mask-image: url(clip.svg);
    mask-size: auto 103%;
    mask-position: center;
    mask-repeat: repeat-x;
    margin-bottom: -1.2rem;
}


/* 3 product */

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 12px;
}

.card-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}


.card-left h2 {
    margin-bottom: 4.8rem; 
}


.card-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.m40 {
    margin-top: -40px; 
}

.card-center .card-image {
    align-self: center;
}

.card-center .card-content {
    margin-top: auto; 
}





/* View 4 */
    
section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 40px;
    padding-bottom: 11rem;
}

.card {
    color: #10487F;
}

.card header {
    display: flex;
    justify-content: center;
}

.card.big p:first-of-type {
    margin-bottom: 1px;}

.card h5 {
    font-size: 2.4rem;
}

.card p {
    font-size: 1.6rem;
    margin-bottom: 7px;
}

.card button {
    display: inline-block;
    background: #3B8FE1;
    color: white;
    border-radius: 8px;
    font-size: 1.8rem;
}

.artbg-1 {
    background: url('artbg-1.png') no-repeat center;
    background-size: contain;
}

.hero {
    background: url('heart.png') no-repeat 100% center;
    background-size: 60%;
}


button {
    background: var(--color-primary);
    font-size: var(--font-size-l);
    border-radius: 2em;
    color: white;
    border: none;
    padding: 0.25em 1.3em;
    cursor: pointer;
}

/* 12 columns grid */

.row {
    display: flex;
    /* align-items: flex-end; */
    /* flex-wrap: nowrap; */
    gap: 24px;
}

.row .col-1 { flex-basis: 8.33%; }
.row .col-2 { flex-basis: 16.66%; }
.row .col-3 { flex-basis: 25%; }
.row .col-4 { flex-basis: 33.33%; }
.row .col-5 { flex-basis: 41.66%; }
.row .col-6 { flex-basis: 50%; }
.row .col-7 { flex-basis: 58.33%; }
.row .col-8 { flex-basis: 66.66%; }
.row .col-9 { flex-basis: 75%; }
.row .col-10 { flex-basis: 83.33%; }
.row .col-11 { flex-basis: 91.66%; }
.row .col-12 { flex-basis: 100%; }

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    max-width: 1000px;
    margin: 0 auto;
}

.hero .desc {
    padding: 64px;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .hero {
        padding-top: 64px;
        background: url('heart.png') no-repeat center 0%;
        background-size: 300px;
    }

    .row {
        flex-wrap: wrap;
    }

    .row .col-1,
    .row .col-2,
    .row .col-3,
    .row .col-4,
    .row .col-5,
    .row .col-6,
    .row .col-7,
    .row .col-8,
    .row .col-9,
    .row .col-10,
    .row .col-11,
    .row .col-12 {
        flex-basis: 100%;
    }
}

.page-white {
    background: white;
}

.page-block {
    max-width: 1000px;
    margin: 0 auto;
    padding: 64px 0;
}

.content {
    padding: 0 12rem;
}

.new-products {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    margin-top: 579px;
    margin-bottom: 20px;
}

.new-products p {
    font-size: 1.6rem;
    text-align: center;
    max-width: 432px;
}

footer {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 10px 40px 40px 40px;
    line-height: 1.2;
}

footer h5 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 8px;
}

footer address {
    font-style: normal;
}

footer .share {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

a.link {
    text-decoration-line: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 0.15em;
}
